.shopContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.shopTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    background-color: #517698;
    width: 100%;
    border: solid 3px white;
    font-family: 'Roboto', sans-serif;
}

.searchBar{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media( min-width:700px ){
    .shopContainer{
        flex-direction: row;
        margin: 20px;
    }
}