
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

#maximum-height{
    max-height: 350px;
}
.created-by{
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
}
.img-circle{
    height: auto;
    width: 100px;
    margin-right: 20px;
}
.container-number-2{
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}
.main-shop-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 600px;
    border-radius: 5px;
}
.photo-container{
    margin-left: 40px;
}
.top-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.right-container-item{
    margin-bottom: 20px;
}
#no-top-margin{
    margin-top: 0px !important;
}