/* .mainBox{
    display: flex;
    flex-direction: column;
    border: solid 3px #517698;
    border-radius: 30px;
    margin-bottom: 25px;
}
.title{
    margin: 20px;
}
.itemContainer{
    display: flex; 
    justify-content: center;  
}
.itemPhoto{
    width: 60%;
    height: 60%;
    margin-right: 5%;
    margin-bottom: 25px;
}
.stuff{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
} */
#notTooBig{
    max-width: 250px;
}

.mainCartItemContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 5px #C4C4C3;
    border-radius: 5px; 
    padding: 10px;
    margin: 10px;
}
.leftCartContainer{
    margin-left: 40px;
}
.rightCartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dude{
    margin-right: 20px;
}















