.app-container{
    /* background-image: url('https://thumbs.dreamstime.com/b/background-image-bright-oil-paint-palette-closeup-30115973.jpg'); */
    background-size: cover;
}
.landing-container{
    background-image: url('https://wallpaperstock.net/wallpapers/thumbs1/45454hd.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: cover;
}
/* div.landing-container>img{
    opacity: 0.5;
} */
/* body {
    z-index: -30;
} */
